## Clasificación Naranja-Toronja
Se analiza el dataset orangevsgrapefruit, disponible en Kaggle: https://www.kaggle.com/datasets/joshmcadams/oranges-vs-grapefruit 
Se estudian e implementan diferentes redes neuronales en *Tensorflow*

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

Importamos con pandas el archivo csv y lo guardamos en la variable dataFrame **df_fruits**, después mostramos algunos de sus parámetros, que serán:

    1. name: Columna con la etiqueta de salida, si la fruta es naranja (orange) o toronja (grapefruit)
    2. diameter: Diámetro de la fruta en pulgadas
    3. weight: peso en onzas de la fruta
    4. red, green, blue: cifra promedio redondeada de los niveles de grises de los píxeles en los planos rojo, verde y azul de la imagen

In [9]:
df_fruits = pd.read_csv('citrus.csv')
df_fruits.head()

     name  diameter  weight  red  green  blue
0  orange      2.96   86.76  172     85     2
1  orange      3.91   88.05  166     78     3
2  orange      4.42   95.17  156     81     2
3  orange      4.47   95.60  163     81     4
4  orange      4.48   95.76  161     72     9

Contamos el número de elementos perteneciente a cada etiqueta o valor de salida, esto nos servirá para saber si nuestro dataset está balanceado y evitamos que esté sesgado:

In [5]:
df_fruits['name'].value_counts()

orange        5000
grapefruit    5000
Name: name, dtype: int64

In [6]:
df_fruits['red']

0       172
1       166
2       156
3       163
4       161
       ...
9995    149
9996    148
9997    168
9998    142
9999    152
Name: red, Length: 10000, dtype: int64

In [10]:
X = df_fruits.drop(columns=['name'])
y = df_fruits['name']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
X_train

      diameter  weight  red  green  blue
9254     12.77  217.28  153     75    23
1561      7.87  143.57  159     86    19
1670      7.95  144.74  173     82     2
6087     10.53  182.24  158     74    14
6669     10.94  189.20  142     94     2
...        ...     ...  ...    ...   ...
5734     10.18  176.92  145     77    15
5191      9.32  162.56  159     69    28
5390      9.72  169.85  150     67    10
860       7.29  135.10  154     72     8
7270     11.30  195.14  145     86    20

[8000 rows x 5 columns]